{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twitter clone</title>
    <link href="{% static "resources/bower_components/bootstrap/dist/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "resources/styles/app.less" %}" media="all" rel="stylesheet" type="text/less">
    <script src="{% static "resources/bower_components/less/dist/less.js" %}"></script>

</head>
<body>
    <div class="page-header">
        <nav class="navbar" role="navigation">
            <ul class="nav nav-pills">
                <li>
                    <a href="{% url 'site_home' %}">Home</a>
                </li>

            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'user_logout' %}">Logout</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'user_login' %}">Login</a>
                </li>

                <li>
                    <a href="{% url 'create_user' %}">Create User</a>
                </li>
            {% endif %}
            </ul>
        </nav>
    </div>

<hr>
<section>
    {% block section %}{% endblock %}
</section>

</body>
</html>